# Copy this file to .devcontainer/.env and adjust values if needed.

# Host path to the Geant4 datasets. The path is relative from 
# the .devcontainer folder to the geant4-datasets folder on the host machine.
GEANT4_DATASETS_HOST_PATH=../geant4-datasets

# Linux/X11 default values:
DOCKERDISPLAY=:0
X11FOLDER=/tmp/.X11-unix
